*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  color: white;
  background-image: url("./imagenes/fondo.jpg");
  font-family: Lato,sans-serif;
  margin-top: 40px;

}
h1{
  color: #000000dc;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.aplicicon-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.freecodecamp-logo-contenedor{
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.freecodecamp-logo{
  width: 200px;
  height: 100px;
}
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: beige;
  padding:25px ;
  margin: 10px;
 
  border-radius: 26px;
}
